<!-- App Header Start -->
<div class="row">
        <!-- App Header Start -->
        <div class="col-12">
          <app-header [filteredVideos]="filteredVideos"></app-header>

        </div>
        <!-- App Header End -->
      </div>
      <!-- Videos List Start -->
      <div class="row">
        <!-- Videos List Start -->
        <div class="col-12">
          <app-lo-video [filteredVideos]="filteredVideos"></app-lo-video>
        </div>
        <!-- Videos List End -->
      </div>
      <!-- Pagination Start -->
      <div class="row">
        <div class="col-12 text-center">
               
        </div>
      </div>